<%= render "shared/header" %>
<div class="bg_image2  ">
  <section class="resume-section" id="experience">
      <div class="resume-section-content">
          <h2 class="mb-5 fas fa-paw">Doggleとは？</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <p>SNSの発展により、多くの人々とコミュニケーションを図れる世界になった。<br><br>
                  <span class="marker">動物はSNSを使えない。なら飼い主が友達を作ってあげる</span>しかない。</p><br>
                  <p>本サービスは愛犬家たちが集い、犬友を探せるアプリケーションです。</p>
              </div>
          </div>
      </div>
  </section>
</div>