<%= render "shared/header" %>

<div class='form-wrap'>
  <%= form_with model: @dog, class: 'registration-user', local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  
    <h2 class='title'>ワンちゃん登録</h2>
    <%= render partial:'shared/newdog', locals: { f: f } %>
  
  <% end %>
</div>