* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: lightyellow;
}
.flower {
  position: absolute;
  top: 0;
}
.flower.flowerR {
  transform: scale(-1, 1);
  right: 0;
}
.pettle-icon {
  width: 12vw;
}
.nav {
  flex-wrap: wrap;
  width: 100%;
  margin: 2vh 0 2vh 100px;
  display: flex;
}

ul.lists {
  display: flex;
  list-style: none;
  font-size: 23px;
}

.fa, .fas, .far {
  font-weight: 900;
  text-decoration: none;
  color: lightsalmon;
  margin: 0 2vw;
}

.fas:hover  {
  color: darkred;
}

.far:hover {
  color: darkred;
}