.dogs-explain {
  padding-top: 30px;
  margin: 0 auto;
  width: 60%;
}

.dogs-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.dogs-text:hover {
  color: darkred;
  background:blanchedalmond;
}